<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProject"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".groups.ExploreMultimediaActivity"
            android:exported="false" />
        <activity
            android:name=".groups.GroupTaskDetailActivity"
            android:exported="false" />
        <activity
            android:name=".groups.GroupMembersActivity"
            android:exported="false" />
        <activity
            android:name=".groups.GroupProfileActivity"
            android:exported="false" />
        <activity
            android:name=".groups.GroupTasksActivity"
            android:exported="false" />
        <activity
            android:name=".groups.AddGroupTaskActivity"
            android:exported="false" />
        <activity
            android:name=".groups.AddGroupMembersActivity"
            android:exported="false" />
        <activity
            android:name=".TodoList"
            android:exported="false" />
        <activity
            android:name=".groups.GroupsProfileActivity"
            android:exported="false" />
        <activity
            android:name=".groups.FindFriendsActivity"
            android:exported="false" />
        <activity
            android:name=".groups.GroupChatActivity"
            android:exported="false" />
        <activity
            android:name=".notes.EditNoteActivity"
            android:exported="false" />
        <activity
            android:name=".notes.CreateNote"
            android:exported="false" />
        <activity
            android:name=".profile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".notes.addDiary"
            android:exported="false" />
        <activity
            android:name=".Onboarding.OnBoardingScreensActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".BottomNavigationBarActivity"
            android:exported="false" />

        <service
            android:name=".todolist.NotifyService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver android:name=".todolist.AlarmReceiver"/>
    </application>

</manifest>